table {
  width: 100%;
  border-collapse: collapse;
  margin-left: auto;
  margin-right:  au;
  border-bottom: 1px solid #000000;
}
 th, td {
  padding: 10px;
  text-align: center;
  font-family: arial;
  border-bottom: 1px solid #ddd;
}
 th {
  color: #01eef7;
  background-color: #000000;
  font-weight: bold;
}
 tr:hover {
  background-color: #01eef7;
}
 td:hover {
  background-color: #01eef7;
}
img {
  float: right;
  width: 100px; /* Ajusta el ancho según tu logo */
  height: 120px; /* Ajusta la altura según tu logo */
  margin-top: -40px; /* Mover hacia abajo */
  margin-right: 100px; /* Mover hacia la izquierda */
}
 h1 {
  text-align: center;
  margin-top: 50px; /* Mover hacia abajo */
  margin-right: 0px; /* Mover hacia la izquierda */
  color: #ffffff;
  background-color: #000000;
  font-family: Arial;
}
footer {
  text-align: center;
  margin-top: 50px; /* Mover hacia abajo */
  margin-right: 0px; /* Mover hacia la izquierda */
  color: #ffffff;
  background-color: #000000;
  font-family: Arial;
}